<div n:class="small-box, p-3, mb-3, $color->for('bg')">
	<div class="inner p-0">
		<span class="text-uppercase">
			{$title|translate|stripHtml}
			<span n:if="$subtitle"> / <small>{$subtitle|translate|noescape}</small></span>
		</span>
		<h4 class="m-0 font-weight-bold">
			{$count|noescape}
			<small n:if="$unit"> {$unit|translate|noescape}</small>
		</h4>
	</div>
	<div class="icon" n:ifcontent>{$icon|icon:true,'watermark'}</div>
</div>